main {
    height: 90vh;
}

.groups-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.group-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(169, 223, 223, 0.5);
    margin: 5px;
    padding: 10px;
}
